* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.date {}

.time {}

h1 {
    text-transform: capitalize;
    text-align: center;
}

.card {
    margin-top: 10px;
    margin-left: 20px;

}

.cards {
    display: inline-block;
    text-align: center;

}

img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    object-position: right;

}